doctype html
html
  head
    title #{title}

    //- link(rel='stylesheet' , href='/css/style.css')

    //- link(rel='stylesheet', href='dist/css/bootstrap.min.css')
    //- script(src="/dist/js/bootstrap.min.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
        block header

        block content
